Django
PIL
aino-convert
django-extensions
django-memcache-status
django-socialauth
django-socialregistration
django-tagging
-e git://github.com/facebook/python-sdk.git#egg=facebook-python-sdk
ipython
oauth2
python-memcached
python-openid
