{% extends "base.html" %}
{% load facebook_tags %}
{% load twitter_tags %}
{% block likehref %}http://www.facebook.com/pages/Now-and-Then-Historical-Photo-Mashups/204133629621406{% endblock %}
{% block aboutcurrent %}current_{% endblock %}

{% block title %}{% block metatitle %}About Now and Then{% endblock %}{% endblock %}

{% block content %}
TODO

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Now-and-Then-Historical-Photo-Mashups/204133629621406" width="292" show_faces="false" stream="true" header="true"></fb:like-box>{% endblock %}
