{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Fusion List" %}{% endblock %}

{% block subnav_base %}{% endblock %}

{% block body_class %}fusions{% endblock %}

{% block extra_body %}
{% include "cycle.html" %}
{% endblock %}

{% block body %}
{% include "fusion/fusion_tag_cloud.html" %}
<form>
Keyword: <input name="keyword" value="{{ request.GET.keyword }}" />
{% if user.is_authenticated %}
<input type="checkbox" name="justmine" {% if request.GET.justmine %}checked="checked"{% endif %}> My fusions only
{% endif %}
<input type="submit" />
</form>
<table id="fusionlist" class="listtable">
{% for fusion in fusion_list %}
    {% cycle '<tr>' '' '' '' '' %}
	{% include "fusion/fusion_cell.html" with fusion=fusion %}
    {% if forloop.last %}</tr>{% else %}{% cycle '' '' '' '' '</tr>' %}{% endif %}
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        <a href="?{{ searchparams }}&page=1">first</a>
        {% if page_obj.has_previous %}
            <a href="?{{ searchparams }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?{{ searchparams }}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        <a href="?{{ searchparams }}&page=last">last</a>
    </span>
</div>
</div>
{% endblock %}
