{% extends "site_base.html" %}

{% load convert_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Edit Fusion" %}{% endblock %}

{% block extra_body %}
		<script src="{{ STATIC_URL }}js/fusion.js"></script>  
{% endblock %}
{% block body %}
todo control point editor, submit button
<div id="control_points_container">
    <select id="control_points" multiple="multiple" size="8" name="points">
        {% for x1, y1, x2, y2 in fusion.point_list %}
          <option value="{{ x1 }},{{ y1 }},{{ x2 }},{{ y2 }}">{{ x1 }}, {{ y1 }} -- {{ x2 }}, {{ y2 }}</option>
        {% endfor %}
    </select>
</div>
<button id="delete_points">Delete</button>
<button id="add_point">Add</button>
<div class="edit_wrapper then_edit">
<img class="control_pointable then_edit" src="{{ fusion.then.imageurl }}" />
</div>
<div class="edit_wrapper now_edit">
<img class="control_pointable now_edit" src="{{ fusion.now.imageurl }}" />
</div>

<form action="" method="post">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
