{% extends "site_base.html" %}

{% load convert_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "View Fusion" %}{% endblock %}

{% block extra_head %}
   <meta property="og:title" content="Fusion by {{ fusion.user }}"/>
   <meta property="og:type" content="landmark"/>
   <meta property="og:url" content="http://nowandthen.mindsocket.com.au{% url fusion_detail fusion.id %}{{ fusion.description|slugify }}"/>
   <meta property="og:image" content="{{ fusion.then.thumburl }}"/>
   <meta property="og:site_name" content="Now and Then"/>
   <meta property="og:description" content="Then image: {{ fusion.then.description }}, fused with Now image: {{ fusion.now.description }}"/>
   {% if fusion.latitude %}
   <meta property="og:latitude" content="{{ fusion.latitude }}"/>
   <meta property="og:longitude" content="{{ fusion.longitude }}"/>
   {% endif %}
{% endblock %}

{% block extra_body %}
		<script src="{{ STATIC_URL }}js/fusion.js"></script>  
{% endblock %}

{% block subnav %}
	<ul>
		{% if fusion.user.username == user.username %}
			<li><a href="{{ fusion.get_absolute_url }}">Edit this fusion</a></li>
		{% endif %}
		<li><a href="{% url image_detail fusion.then.id %}{{ fusion.then.description|slugify }}">View &quot;then&quot; image details</a></li>
		<li><a href="{{ fusion.now.infourl }}">View &quot;now&quot; image details</a></li>
	</ul>
{% endblock %}

{% block body %}
	<div class="source"> 
	{% include "vote_widget.html" with object=fusion type="fusion" %}
		<div id="thendesc"><h2>Then</h2>{% include "fusion/image_info.html" with image=fusion.then %}</div>
		<div id="nowdesc"><h2>Now</h2>{% include "fusion/image_info.html" with image=fusion.now %}</div>
		<div style="position:relative;top:-0.5em;float:right;">	
			Fusion by {{ fusion.user }}
		</div>
	</div>
<div id="thennow" class="clearboth">	
	<div class="section">
		{% if fusion.thenfile and fusion.nowfile %}
			{% thumbnail fusion.thenfile '900x900' as thenimg %}
			{% thumbnail fusion.nowfile '900x900' as nowimg %}
		{% else %}
			{% thumbnail fusion.then.imageurl '900x900' as thenimg %}
			{% thumbnail fusion.now.imageurl '900x900' as nowimg %}
		{% endif %}
		<div class="thennowfade ">
			<img src="{{ thenimg.url }}" class="thenfade" alt="{{ fusion.then.description }}" width="{{ thenimg.width }}" height="{{ thenimg.height }}" /> 
			<img src="{{ nowimg.url }}" class="nowfade" alt="{{ fusion.now.description }}" width="{{ nowimg.width }}" height="{{ nowimg.height }}" /> 
		</div>
		<div style="height:{{ nowimg.height }}px;"></div>
		{% comment %}<div class="thennow">
			<img src="{{ thenimg.url }}" rel="then" alt="{{ fusion.then.description }}" width="900" height="900" /> 
			<img src="{{ nowimg.url }}" rel="now" alt="{{ fusion.now.description }}" width="900" height="900" /> 
		</div> {% endcomment %}
	</div>
</div>
{% url fusion_detail fusion.id as short_url %}
{% include "comment_widget.html" with url=short_url %}

{% endblock %}
