{% extends "site_base.html" %}

{% load convert_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Fusion List" %}{% endblock %}

{% block body_class %}fusions{% endblock %}

{% block body %}
todo "just mine"
<form>
Keyword: <input name="keyword" value="{{ request.GET.keyword }}" />
<input type="submit" />
</form>
<table id="fusionlist" class="listtable">
{% for fusion in fusion_list %}
    {% cycle '<tr>' '' '' '' '' %}
    <td><a href="{% url fusion_detail fusion.id %}{{ fusion.description|slugify }}">{{ fusion.description }}</a><br/>
    {% thumbnail fusion.then.thumburl "200x200" %} {% thumbnail fusion.now.thumburl "200x200" %}<br/>
{% if user.is_authenticated %}
  <a href="/admin/fusion/image/{{ fusion.id }}/" target="_blank">admin</a> 
  <a href="/admin/fusion/image/{{ fusion.id }}/delete/" target="_blank">delete</a>
{% endif %}
    </td>
    {% if forloop.last %}</tr>{% else %}{% cycle '' '' '' '' '</tr>' %}{% endif %}
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        <a href="?page=1">first</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        <a href="?page=last">last</a>
    </span>
</div>
</div>
{% endblock %}
