{% extends "site_base.html" %}

{% load convert_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Select Flickr Image" %}{% endblock %}

{% block body %}
Keyword: <input name="keyword" />
Tag: <input name="tag" />
Flickr user: <input name="user" />
<input type="checkbox" name="nowandthentag" checked="checked"> <a href="todo">nowandthen tag</a>
<input type="checkbox" name="nowandthengroup"> <a href="todo">Now and Then group</a>

<div id="results">
{% for photo in photos %}
	{{ photo.title }}
{% endfor %}
</div>

{% endblock %}
