{% extends "site_base.html" %}

{% load convert_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Image List" %}{% endblock %}

{% block body_class %}images{% endblock %}

{% block subnav_base %}{% endblock %}

{% block body %}
{% include "fusion/image_tag_cloud.html" %}
<form>
Keyword: <input name="keyword" value="{{ request.GET.keyword }}" />
<input type="submit" />
</form>
<table id="imagelist" class="listtable">
{% for image in image_list %}
    {% cycle '<tr>' '' '' '' '' %}
    <td>
    <a href="{% url image_detail image.id %}{{ image.description|slugify }}">{% thumbnail image.thumburl "200x200" %}</a><br/>
    {{ image.description }}
{% if user.is_superuser %}
  <a href="/admin/fusion/image/{{ image.id }}/" target="_blank">admin</a> 
  <a href="/admin/fusion/image/{{ image.id }}/delete/" target="_blank">delete</a>
{% endif %}
    </td>
    {% if forloop.last %}</tr>{% else %}{% cycle '' '' '' '' '</tr>' %}{% endif %}
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        <a href="?page=1">first</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        <a href="?page=last">last</a>
    </span>
</div>
</div>
{% endblock %}
