{% extends "base.html" %}

{% block topcurrent %}current_{% endblock %}

{% block title %}{% block metatitle %}Select Image{% endblock %}{% endblock %}
{% block content %}
Keyword: <input name="keyword" />
Tag: <input name="tag" />
Flickr user: <input name="user" />
<input type="checkbox" name="nowandthentag" checked="checked"> <a href="todo">nowandthen tag</a>
<input type="checkbox" name="nowandthengroup"> <a href="todo">Now and Then group</a>

<div id="results">
TODO results
</div>

{% endblock %}
