{% extends "site_base.html" %}

{% load convert_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "View Image" %}{% endblock %}

{% block body %}
todo info box, image, create fusion, list of existing fusions, vote for image

<div id="imageinfo">
	<span class="infolabel">Type:</span> {{ image.type }}<br/>
	<span class="infolabel">Description:</span><a href="{{ image.infourl}}">{{ image.description }}</a><br/>
	<span class="infolabel">Creator:</span> {{ image.creator }}<br/>
	<span class="infolabel">Date:</span> {{ image.dateofwork }}<br/>
	<span class="infolabel">Keywords:</span> {{ image.keywords }}<br/>
</div>
<div class="viewimage">
	{% thumbnail image.imageurl "900x600" %}
</div>
<div id="voteblock">
	Like/Tweet
</div>
<div id="newfusion">
	New Fusion using this image
</div>

{% endblock %}
