{% extends "base.html" %}
{% load convert_tags %}

{% block fusionscurrent %}navcurrent{% endblock %}

{% block title %}{% block metatitle %}Fusion List{% endblock %}{% endblock %}
{% block content %}
todo type selector, keyword search box
{% for fusion in fusion_list %}
    <p><a class="lightbox" href="/fusion/view/{{ fusion.id }}/{{ fusion.description|slugify }}">{{ fusion.description }}</a><br/>
    {% thumbnail fusion.then.thumburl "200x200" %} {% thumbnail fusion.now.thumburl "200x200" %}<br/>
{% if user.is_authenticated %}
  <a href="/admin/fusion/image/{{ fusion.id }}/" target="_blank">admin</a> 
  <a href="/admin/fusion/image/{{ fusion.id }}/delete/" target="_blank">delete</a>
{% endif %}
    </p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        <a href="?page=1">first</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        <a href="?page=last">last</a>
    </span>
</div>
</div>
{% endblock %}
