{% extends "site_base.html" %}

{% load i18n %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block subnav_base %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block likehref %}http://www.facebook.com/pages/Now-and-Then-Historical-Photo-Mashups/204133629621406{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to Now and Then" %}</h1>

	{% include "intro.html" %}

    <hr />

	<div id="cloud_container">
		<div id="fusion_cloud_container">
		{% include "fusion/fusion_tag_cloud.html" %}
		</div>
		<div id="image_cloud_container">
		{% include "fusion/image_tag_cloud.html" %}
		</div>
	</div>

{% endblock %}
