<div id="intro">    
	Now and Then is an application for aligning and overlaying historical images with modern equivalents. Each combination of an old and new image is called a &quot;fusion&quot;. You can see existing fusions in the <a href="{% url fusions %}">fusion gallery</a>.
	<p>
	The site was created as an entry for the <a href="http://libraryhack.org" target="_blank">2011 Libraryhack event</a>.  
</div>

<div id="instructions">    
<h2>How do I contribute?</h2>
Creating a new fusion is easy...
<ul><li>Either</li>
	<ul>
		<li>Browse the <a href="{% url images %}">archive of historical images</a> to find a suitable &quot;then&quot; image, or...</li>
		<li>Source your own historical image and add it to the <a href="http://www.flickr.com/groups/1726925@N22/" target="_blank">Now and Then group</a> and/or tag it with <a href="http://www.flickr.com/photos/tags/nowandthen/" target="_blank">nowandthen</a>.  Make sure that you have the right to use the image and that a permissive license (such as Creative Commons) is applied.</li>
	</ul>
<li>Go to the location (with a reference copy of the historical image), and take a photo of the modern equivalent.  Try to get as close to the original position and composition as possible.</li>
<li>Upload your image to Flickr and add it to the <a href="http://www.flickr.com/groups/1726925@N22/" target="_blank">Now and Then group</a> and/or tag it with <a href="http://www.flickr.com/photos/tags/nowandthen/" target="_blank">nowandthen</a>.  Make sure that a permissive license (such as Creative Commons) is applied.</li>
<li>If you're using a historical image from the archive</li>
	<ul>
		<li>Return to the <a href="{% url images %}">historical &quot;then&quot; image</a> to start a new fusion, choosing your matching &quot;now&quot; image from Flickr. Otherwise...</li> 
		<li><a href="{% url fusion_new %}?init=true">Start a new fusion from your own historical image</a>, then choose the corresponding modern equivalent.</li>
	</ul>
<li>Optionally, indicate the common points between the images so that the overlaid images are well aligned.</li>
<li>Voila!  Your aligned fusion is ready for <a href="{% url fusions %}">viewing</a>.</li>
</ul>
<h2>What images can I contribute?</h2>
Currently, while Now and Then is in a Beta release period, the image collection includes only "<a href="http://data.gov.au/2616">Photographs of Sydney before 1885</a>" from the State Library of NSW. Other collections will hopefully be added at a later date.
<h2>What's new?</h2>
<ul>
<li>RSS feeds</li>
<li>Highest rated unfused images</li>
<li>Geocoding for some historical images, more to come</li>
<li>Map of historical images</li>
</ul>        
<h2>What's next?</h2>
<ul>
<li>Choose your own &quot;then&quot; image</li>
<li>More datasets</li>
<li>Alternative fusion viewers</li>
<li>My votes</li>
<li>Mobile view</li>
<li>Layar mobile view</li>
</div>    
