{% load voting_tags %}
{% score_for_object object as score %}
<div class="votecell votes">
    <input type="hidden" name="type" value="{{ type }}">
    <input type="hidden" name="object_id" value="{{ object.id }}">
	<input type="hidden" name="csrf_token" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
    <a class="vote-up-off vote" title="Vote this {{ type }} up (click again to undo)">up vote</a>
    <span class="vote-count-post" id="score">{{ score.score }}</span>
    <a class="vote-down-off vote" title="Vote this {{ type }} down (click again to undo)">down vote</a>
</div>
